<h1>Listing platform_ad_set_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Platform</th>
      <th>Endpoint</th>
      <th>Schema</th>
      <th>Field mapping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @platform_ad_set_types.each do |platform_ad_set_type| %>
      <tr>
        <td><%= platform_ad_set_type.name %></td>
        <td><%= platform_ad_set_type.platform %></td>
        <td><%= platform_ad_set_type.endpoint %></td>
        <td><%= platform_ad_set_type.schema %></td>
        <td><%= platform_ad_set_type.field_mapping %></td>
        <td><%= link_to 'Show', platform_ad_set_type %></td>
        <td><%= link_to 'Edit', edit_platform_ad_set_type_path(platform_ad_set_type) %></td>
        <td><%= link_to 'Destroy', platform_ad_set_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platform ad set type', new_platform_ad_set_type_path %>
