<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @platform_ad.name %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @platform_ad.uri %>
</p>

<p>
  <strong>Features:</strong>
  <%= @platform_ad.features %>
</p>

<p>
  <strong>Ad:</strong>
  <%= @platform_ad.ad %>
</p>

<p>
  <strong>Platform ad type:</strong>
  <%= @platform_ad.platform_ad_type %>
</p>

<%= link_to 'Edit', edit_platform_ad_path(@platform_ad) %> |
<%= link_to 'Back', platform_ads_path %>
