<%= form_for(@platform_ad_set) do |f| %>
  <% if @platform_ad_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platform_ad_set.errors.count, "error") %> prohibited this platform_ad_set from being saved:</h2>

      <ul>
      <% @platform_ad_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :uri %><br>
    <%= f.text_field :uri %>
  </div>
  <div class="field">
    <%= f.label :features %><br>
    <%= f.text_field :features %>
  </div>
  <div class="field">
    <%= f.label :ad_set_id %><br>
    <%= f.text_field :ad_set_id %>
  </div>
  <div class="field">
    <%= f.label :platform_ad_set_type_id %><br>
    <%= f.text_field :platform_ad_set_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
